.ipynb_checkpoints/
__pycache__/
*.py[cod]

.venv/
venv/
.env

.DS_Store
Thumbs.db

.vscode/

datasets/
data/
models/
outputs/
results/
checkpoints/
.checkpoints/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
